apiVersion: v1
kind: Service
metadata:
  name: guestbook
  labels:
spec:
  selector:
  type: NodePort
  ports:
   - port: <8081>
     # nodePort: <31514>

